body{
    font-family: 'Catamaran', sans-serif;
}
.navtopo{
    background-color: #83C5BE; 
}
.navbar-light .navbar-nav .nav-link{
    color: #ffff;
    margin-top: 8px;
    margin-left: 50px;
    font-size: 20px;
}
a:hover {
    color: #006D77;
}
.rede_social_nav{
    color: #fff;
    font-size: 42px;
    display: block; 
    margin-bottom: 25px;
    margin-top: 25px; 
    margin-right: 62px;
    margin-left: 50px;
}
.logo{
    width: 200px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.pesquisa{
    justify-content: center;
    max-width: 100vw;
    width: 80%;
    margin: 169px auto;
    padding: 0 0 20px;
    align-items: center;
}
footer{
    background-color: #83C5BE;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 30px;
}